*,
::after,
::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 62.5%;
}

.whiteColor {
  color: #FFFFFF;
}

@font-face {
  src: url("/font/THICCCBOI-Regular.woff2") format("woff2");
  font-family: "Thic Regular";
}
@font-face {
  src: url("/font/THICCCBOI-Medium.woff2") format("woff2");
  font-family: "Thic Medium";
}
@font-face {
  src: url("/font/THICCCBOI-Bold.woff2") format("woff2");
  font-family: "Thic Bold";
}
.headingOne {
  font-size: 4rem;
  font-family: "Thic Regular";
  color: #111029;
  padding-bottom: 20px;
}

.headingTwo {
  font-size: 3.2rem;
  font-family: "Thic Regular";
  color: #111029;
  padding-bottom: 20px;
}
.headingTwo--white {
  color: #FFFFFF;
}

.headingThree {
  font-size: 2.4rem;
  font-family: "Thic Regular";
  color: #111029;
  padding-bottom: 20px;
}

.paragraph {
  font-size: 1.6rem;
  line-height: 2.8rem;
  color: #111029;
  font-family: "Thic Regular";
}
.paragraph--white {
  color: #FFFFFF;
}

.paragraphStrong {
  font-size: 1.8rem;
  line-height: 2.8rem;
  color: #111029;
  font-family: "Thic Bold";
  margin: 10px 0px;
}

.blackButton {
  width: 100%;
  font-size: 1.6rem;
  font-family: "Thic Medium";
  color: #FFFFFF;
  background-color: #111029;
  border: 1px solid #111029;
  padding: 18px 32px;
  border-radius: 90px;
  margin: 10px 0px;
  position: relative;
  z-index: 100;
}

.whiteButton {
  width: 100%;
  font-size: 1.6rem;
  font-family: "Thic Medium";
  color: #111029;
  background-color: #FFFFFF;
  border: 1px solid #FFFFFF;
  padding: 18px 32px;
  border-radius: 90px;
  margin: 10px 0px;
  position: relative;
  z-index: 100;
}

.transparentButton {
  width: 100%;
  font-size: 1.6rem;
  font-family: "Thic Medium";
  color: #111029;
  background-color: transparent;
  border: 1px solid #111029;
  padding: 18px 32px;
  border-radius: 90px;
  margin: 10px 0px;
  position: relative;
  z-index: 100;
}

.transparentButtonWhiteBorder {
  width: 100%;
  font-size: 1.6rem;
  font-family: "Thic Medium";
  color: #FFFFFF;
  background-color: transparent;
  border: 1px solid #FFFFFF;
  padding: 18px 32px;
  border-radius: 90px;
  margin: 10px 0px;
  position: relative;
  z-index: 100;
}

@media only screen and (min-width: 700px) {
  .headingOne {
    font-size: 6.4rem;
  }
  .headingTwo {
    font-size: 5.4rem;
  }
  .headingThree {
    font-size: 3rem;
  }
  .paragraph {
    font-size: 1.9rem;
  }
  .blackButton {
    width: inherit;
  }
  .whiteButton {
    width: inherit;
  }
  .transparentButtonWhiteBorder {
    width: inherit;
  }
  .transparentButton {
    width: inherit;
  }
  .header__firstButton {
    width: inherit;
  }
}
@media only screen and (min-width: 992px) {
  .headingOne {
    font-size: 8rem;
  }
  .headingTwo {
    font-size: 6rem;
  }
  .headingThree {
    font-size: 4.5rem;
  }
  .paragraph {
    font-size: 2rem;
  }
  .paragraphStrong {
    font-size: 2.6rem;
    margin: 20px 0px 25px 0px;
  }
  .blackButton {
    font-size: 2rem;
  }
  .whiteButton {
    font-size: 2rem;
  }
  .transparentButtonWhiteBorder {
    font-size: 2rem;
  }
  .transparentButton {
    font-size: 2rem;
  }
  .header__firstButton {
    font-size: 2rem;
  }
}
.navigationMobile {
  padding: 20px 0px 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header {
  padding: 0px 15px;
  background-image: url("/image/backgroundHeader.png");
  background-position-x: 80%;
  background-position-y: 0%;
  background-size: cover;
  background-repeat: no-repeat;
}
.header__buttonBox {
  margin-top: 20px;
}
.header__rightSection {
  margin-top: 95px;
}
.header__image {
  width: 100%;
}

.logoSection {
  width: 100%;
  background-color: #FFFFFF;
  padding: 40px 15px;
  -webkit-box-shadow: 0px 14px 64px 0px rgba(17, 16, 41, 0.1);
          box-shadow: 0px 14px 64px 0px rgba(17, 16, 41, 0.1);
}
.logoSection__dotBetweenImage {
  display: none;
}
.logoSection__logoBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.logoSection__imageLogo {
  width: 35%;
  margin: 15px 0px;
}

.columnInformationSection {
  padding: 95px 15px;
}
.columnInformationSection__box {
  margin: 40px 0px;
}
.columnInformationSection__box:last-of-type {
  margin-bottom: 0px;
}

.cryptoWalletInformation {
  padding: 95px 15px;
  background-color: #111029;
  width: 100vw;
  position: relative;
  overflow: hidden;
}
.cryptoWalletInformation__decorationImageLeft {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 0;
}
.cryptoWalletInformation__decorationImageRight {
  position: absolute;
  bottom: -300px;
  left: 30px;
}
.cryptoWalletInformation__wrapper {
  width: 100%;
}
.cryptoWalletInformation__buttonBox {
  margin-top: 20px;
  position: relative;
  z-index: 100;
}
.cryptoWalletInformation__boxInformation {
  width: 100%;
  background-color: #FFFFFF;
  margin-top: 40px;
  border-radius: 35px;
  padding: 35px 25px 0px 25px;
  position: relative;
  z-index: 100;
}
.cryptoWalletInformation__imageWallet {
  width: 100%;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  border-left: 1px solid #DCDDEB;
  border-top: 1px solid #DCDDEB;
  border-right: 1px solid #DCDDEB;
  margin-top: 20px;
}

.wideoSection {
  padding: 95px 15px;
  width: 100vw;
  background-image: url("/image/backgroundWideoSection.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}
.wideoSection__headingTwo {
  text-align: center;
}
.wideoSection__boxBlureImage {
  width: 100%;
  border-radius: 35px;
  position: relative;
  border-radius: 35px;
  margin: 40px 0px;
}
.wideoSection__imageBlure {
  width: 100%;
  -webkit-filter: blur(3px);
          filter: blur(3px);
  border-radius: 35px;
}
.wideoSection__iconPlay {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 69px;
  height: 69px;
}
.wideoSection__walletImage {
  position: absolute;
  left: -30px;
  width: 150px;
}
.wideoSection__tradingImage {
  position: absolute;
  right: -15px;
  width: 140px;
}
.wideoSection__buttonBox {
  margin-top: 40px;
}

.whatPeopleSay {
  padding: 95px 15px;
  padding-left: 0px;
  padding-right: 0px;
  width: 100vw;
  background-color: #111029;
  position: relative;
}
.whatPeopleSay__topImageGradient {
  display: none;
}
.whatPeopleSay__bottomImageGradient {
  display: none;
}
.whatPeopleSay__headingTwo {
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}
.whatPeopleSay__paragraph {
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}
.whatPeopleSay__buttonBox {
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 40px;
}
.whatPeopleSay__column {
  display: none;
}
.whatPeopleSay__column--mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-scroll-snap-points-x: repeat(300px);
  -ms-scroll-snap-type: mandatory;
      scroll-snap-type: mandatory;
  padding-left: 15px;
}
.whatPeopleSay__paragraphName {
  font-family: "Thic Medium";
  font-size: 1.8rem;
  line-height: 1.8rem;
  margin-top: 5px;
}
.whatPeopleSay__paragraphLogin {
  font-family: "Thic Medium";
  font-size: 1.8rem;
  line-height: 1.8rem;
  margin-top: 5px;
  color: #1C9BF0;
}
.whatPeopleSay__twitterBox {
  background-color: #FFFFFF;
  border-radius: 35px;
  padding: 35px 25px;
  margin-top: 40px;
}
.whatPeopleSay__twitterBox--mobile {
  margin-right: 20px;
  min-width: 75vw;
}
.whatPeopleSay__twitterBox--mobile:last-of-type {
  margin-right: 15px;
}
.whatPeopleSay__twitterBox--top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}
.whatPeopleSay__twitterBox--topLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.whatPeopleSay__twitterBox--avatar {
  width: 62px;
  height: 62px;
}
.whatPeopleSay__twitterBox--twitter {
  width: 34px;
  height: 34px;
  display: none;
}
.whatPeopleSay__twitterBox--login {
  margin-left: 20px;
}

.easySteps {
  padding: 95px 15px;
  width: 100vw;
  background-image: url("/image/backgroundEasySteps.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}
.easySteps__headingTwo {
  text-align: center;
}
.easySteps__paragraph {
  text-align: center;
}
.easySteps__paragraphBox {
  font-family: "Thic Medium";
  font-size: 1.8rem;
  line-height: 1.8rem;
  margin-top: 5px;
  margin-bottom: 10px;
}
.easySteps__rightSide {
  width: 100%;
}
.easySteps__rightSideBox {
  width: 100%;
}
.easySteps__imageWallet {
  width: 100%;
}
.easySteps__icon {
  margin-right: 20px;
}
.easySteps__leftSideBoxs {
  margin-top: 40px;
}
.easySteps__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 18px 32px;
  border-radius: 35px;
  -webkit-box-shadow: 0px 2px 6px 0px rgba(20, 20, 43, 0.06);
          box-shadow: 0px 2px 6px 0px rgba(20, 20, 43, 0.06);
  border: 1px solid #DCDDEB;
  margin-top: 20px;
  background-color: #FFFFFF;
}

@media only screen and (min-width: 700px) {
  .header {
    padding: 0px 30px;
  }
  .header__buttonBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .header__firstButton {
    margin-right: 20px;
  }
  .header__rightSection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__image {
    width: 60%;
    display: block;
  }
  .logoSection {
    padding: 40px 30px;
  }
  .logoSection__imageLogo {
    width: 18%;
  }
  .logoSection__dotBetweenImage {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #DCDDEB;
  }
  .columnInformationSection {
    padding: 95px 30px;
  }
  .columnInformationSection__box {
    margin: 40px 0px;
    width: 47%;
  }
  .columnInformationSection__columnsBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 40px;
  }
  .cryptoWalletInformation {
    padding: 95px 30px;
  }
  .cryptoWalletInformation__firstButton {
    margin-right: 20px;
  }
  .cryptoWalletInformation__rightSide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .cryptoWalletInformation__boxInformation {
    width: 48%;
    margin-top: 40px;
  }
  .cryptoWalletInformation__decorationImageLeft {
    position: absolute;
    top: 0px;
    left: -150px;
    z-index: 0;
    width: 1000px;
    height: 1000px;
  }
  .cryptoWalletInformation__decorationImageRight {
    position: absolute;
    bottom: -300px;
    left: 51vw;
    width: 1000px;
    height: 1000px;
  }
  .wideoSection {
    padding: 95px 30px;
  }
  .wideoSection__boxBlureImage {
    width: 80%;
    margin: 40px auto;
  }
  .wideoSection__walletImage {
    position: absolute;
    left: -100px;
    width: 250px;
  }
  .wideoSection__tradingImage {
    position: absolute;
    right: -80px;
    width: 250px;
  }
  .wideoSection__iconPlay {
    width: 80px;
    height: 80px;
  }
  .wideoSection__buttonBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: cetenr;
        align-content: cetenr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 60px;
  }
  .whatPeopleSay__column--mobile {
    padding-left: 30px;
  }
  .whatPeopleSay__twitterBox {
    background-color: #FFFFFF;
    border-radius: 35px;
    padding: 35px 25px;
    margin-top: 40px;
  }
  .whatPeopleSay__twitterBox--mobile {
    margin-right: 20px;
    min-width: 55vw;
  }
  .whatPeopleSay__twitterBox--twitter {
    display: block;
  }
  .whatPeopleSay__buttonBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: cetenr;
        align-content: cetenr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .easySteps {
    padding: 95px 30px;
  }
  .easySteps__boxBottomContent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 60px;
  }
  .easySteps__leftSideBoxs {
    width: 35%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 0px;
  }
  .easySteps__rightSide {
    width: 55%;
    background: #FFFFFF;
    border-radius: 35px;
    -webkit-box-shadow: 0px 2px 6px 0px rgba(20, 20, 43, 0.06);
            box-shadow: 0px 2px 6px 0px rgba(20, 20, 43, 0.06);
    border: 1px solid #DCDDEB;
  }
  .easySteps__paragraphBoxInfo {
    display: none;
  }
}
@media only screen and (min-width: 992px) {
  .navigationMobile {
    width: 90vw;
    max-width: 1350px;
    margin: 0 auto;
  }
  .sectionTop {
    background-image: url("/image/backgroundHeader.png");
    background-position-x: 80%;
    background-position-y: 0%;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .header {
    background: none;
    width: 90vw;
    max-width: 1350px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .header__leftSection {
    width: 60%;
    margin-top: 90px;
  }
  .header__rightSection {
    width: 40%;
    margin-top: 40px;
  }
  .header__image {
    width: 90%;
  }
  .logoSection__logoBox {
    width: 90vw;
    max-width: 1350px;
    margin: 0 auto;
    padding: 0 30px;
  }
  .logoSection__imageLogo {
    width: 12%;
  }
  .columnInformationSection {
    width: 90vw;
    max-width: 1350px;
    margin: 0 auto;
    padding: 200px 30px;
  }
  .columnInformationSection__headingTwo {
    padding-bottom: 0px;
  }
  .columnInformationSection__headingBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .columnInformationSection__headingBox--first {
    width: 55%;
  }
  .columnInformationSection__headingBox--second {
    width: 35%;
  }
  .columnInformationSection__box {
    margin: 40px 0px;
    width: 30%;
  }
  .columnInformationSection__columnsBox {
    padding-top: 40px;
  }
  .cryptoWalletInformation {
    padding: 200px 30px;
    width: 100%;
  }
  .cryptoWalletInformation__wrapper {
    width: 90vw;
    max-width: 1350px;
    padding: 200px 30px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .cryptoWalletInformation__leftSide {
    width: 40%;
  }
  .cryptoWalletInformation__rightSide {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .cryptoWalletInformation__boxInformation {
    width: 90%;
    margin-top: 0px;
    margin-bottom: 40px;
    padding: 65px 60px 0px 65px;
  }
  .cryptoWalletInformation__boxInformation:last-of-type {
    margin-bottom: 0px;
  }
  .cryptoWalletInformation__decorationImageLeft {
    position: absolute;
    top: 0px;
    left: -450px;
    z-index: 0;
    width: 1500px;
    height: 2000px;
  }
  .cryptoWalletInformation__decorationImageRight {
    position: absolute;
    bottom: -400px;
    left: 51vw;
    width: 1000px;
    height: 2000px;
  }
  .wideoSection {
    width: 100%;
    padding: 0px 30px;
  }
  .wideoSection__wrapper {
    width: 90vw;
    max-width: 1350px;
    padding: 200px 30px;
    margin: 0 auto;
  }
  .wideoSection__imageBlure {
    width: 100%;
  }
  .wideoSection__boxBlureImage {
    width: 85%;
  }
  .wideoSection__headingTwo {
    max-width: 600px;
    margin: 0 auto;
  }
  .wideoSection__walletImage {
    position: absolute;
    left: -200px;
    width: 450px;
  }
  .wideoSection__tradingImage {
    position: absolute;
    right: -150px;
    width: 450px;
  }
  .wideoSection__iconPlay {
    width: 160px;
    height: 160px;
  }
  .whatPeopleSay {
    width: 100%;
    position: relative;
    padding-bottom: 0px;
    padding-top: 0px;
  }
  .whatPeopleSay__wrapper {
    padding: 200px 30px;
  }
  .whatPeopleSay__topImageGradient {
    display: block;
    position: absolute;
    top: 0;
  }
  .whatPeopleSay__bottomImageGradient {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 700px;
    height: 700px;
    z-index: 1;
  }
  .whatPeopleSay__headingTwo {
    max-width: 700px;
    margin: 0 auto;
  }
  .whatPeopleSay__paragraph {
    max-width: 800px;
    margin: 0 auto;
  }
  .whatPeopleSay__paragraphName {
    font-size: 2rem;
  }
  .whatPeopleSay__paragraphLogin {
    font-size: 2rem;
  }
  .whatPeopleSay__opinionBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 90vw;
    max-width: 1350px;
    margin: 60px auto 0px;
    padding-left: 30px;
    padding-right: 30px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
  }
  .whatPeopleSay__column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 31%;
  }
  .whatPeopleSay__column--mobile {
    display: none;
  }
  .whatPeopleSay__bottomShadow {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(17, 16, 41, 0)), color-stop(82%, #111029));
    background-image: linear-gradient(180deg, rgba(17, 16, 41, 0), #111029 82%);
    width: 100%;
    height: 300px;
    position: absolute;
    bottom: -1px;
  }
  .whatPeopleSay__topShadow {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#111029), to(rgba(17, 16, 41, 0)));
    background-image: linear-gradient(180deg, #111029, rgba(17, 16, 41, 0));
    width: 100%;
    height: 300px;
    position: absolute;
    top: 0px;
  }
  .easySteps {
    width: 100%;
    padding: 200px 30px;
  }
  .easySteps__headingTwo {
    max-width: 700px;
    margin: 0 auto;
  }
  .easySteps__paragraph {
    max-width: 800px;
    margin: 0 auto;
  }
  .easySteps__wrapper {
    width: 90vw;
    max-width: 1350px;
    margin: 0 auto;
  }
  .easySteps__icon {
    margin-right: 30px;
  }
  .easySteps__leftSideBoxs {
    width: 45%;
  }
  .easySteps__rightSide {
    width: 45%;
    padding: 35px 35px 0px 35px;
  }
  .easySteps__box {
    padding: 35px;
  }
  .easySteps__box:first-of-type {
    margin-top: 0px;
  }
  .easySteps__paragraphBoxInfo {
    display: block;
  }
  .easySteps__paragraphBox {
    font-size: 2rem;
  }
}/*# sourceMappingURL=main.css.map */