@media only screen and (min-width: 992px)

    .navigationMobile
        width: 90vw
        max-width: 1350px
        margin: 0 auto

    .sectionTop
        background-image: url("/image/backgroundHeader.png")
        background-position-x: 80%
        background-position-y: 0%
        background-size: cover
        background-repeat: no-repeat

    .header
        background: none
        width: 90vw
        max-width: 1350px
        margin: 0 auto
        display: flex
        flex-direction: row
        flex-wrap: wrap

        &__leftSection
            width: 60%
            margin-top: 90px

        &__rightSection
            width: 40%
            margin-top: 40px

        &__image
            width: 90%

    .logoSection

        &__logoBox
            width: 90vw
            max-width: 1350px
            margin: 0 auto
            padding: 0 30px

        &__imageLogo
            width: 12%