@media only screen and (min-width: 700px)

    .header
        padding: 0px 30px

        &__buttonBox
            display: flex
            flex-direction: row

        &__firstButton
            margin-right: 20px

        &__rightSection
            display: flex
            flex-direction: row
            justify-content: center

        &__image
            width: 60%
            display: block

    .logoSection
        padding: 40px 30px

        &__imageLogo
            width: 18%

        &__dotBetweenImage
            display: block
            width: 10px
            height: 10px
            border-radius: 50%
            background-color: $lightGray

    .columnInformationSection
        padding: $paddingSectionTablet

        &__box
            margin: 40px 0px
            width: 47%

        &__columnsBox
            display: flex
            width: 100%
            justify-content: space-between
            flex-direction: row
            flex-wrap: wrap
            padding-top: 40px