@media only screen and (min-width: 700px)

    .header
        padding: 0px 30px

        &__buttonBox
            display: flex
            flex-direction: row

        &__firstButton
            margin-right: 20px

        &__rightSection
            display: flex
            flex-direction: row
            justify-content: center

        &__image
            width: 60%
            display: block

    .logoSection
        padding: 40px 30px

        &__imageLogo
            width: 18%

        &__dotBetweenImage
            display: block
            width: 10px
            height: 10px
            border-radius: 50%
            background-color: $lightGray

    .columnInformationSection
        padding: $paddingSectionTablet

        &__box
            margin: 40px 0px
            width: 47%

        &__columnsBox
            display: flex
            width: 100%
            justify-content: space-between
            flex-direction: row
            flex-wrap: wrap
            padding-top: 40px

    .cryptoWalletInformation
        padding: $paddingSectionTablet

        &__firstButton
            margin-right: 20px

        &__rightSide
            display: flex
            flex-direction: row
            flex-wrap: wrap
            justify-content: space-between

        &__boxInformation
            width: 48%
            margin-top: 40px

        &__decorationImageLeft
            position: absolute
            top: 0px
            left: -150px
            z-index: 0
            width: 1000px
            height: 1000px

        &__decorationImageRight
            position: absolute
            bottom: -300px
            left: 51vw
            width: 1000px
            height: 1000px

    .wideoSection
        padding: $paddingSectionTablet

        &__boxBlureImage
            width: 80%
            margin: 40px auto

        &__walletImage
            position: absolute
            left: -100px
            width: 250px

        &__tradingImage
            position: absolute
            right: -80px
            width: 250px

        &__iconPlay
            width: 80px
            height: 80px

        &__buttonBox
            display: flex
            flex-direction: row
            justify-content: center
            align-content: cetenr
            align-items: center
            margin-top: 60px

    .whatPeopleSay

        &__column--mobile
            padding-left: 30px

        &__twitterBox
            background-color: $white
            border-radius: 35px
            padding: 35px 25px
            margin-top: 40px

            &--mobile
                margin-right: 20px
                min-width: 55vw

            &--twitter
                display: block

        &__buttonBox
            display: flex
            flex-direction: row
            justify-content: center
            align-content: cetenr
            align-items: center

    .easySteps
        padding: $paddingSectionTablet

        &__boxBottomContent
            display: flex
            justify-content: space-between
            margin-top: 60px

        &__leftSideBoxs
            width: 35%
            display: flex
            flex-direction: column
            justify-content: center
            margin-top: 0px

        &__rightSide
            width: 55%
            background: $white
            border-radius: 35px
            box-shadow: 0px 2px 6px 0px rgba(20, 20, 43, 0.06)
            border: 1px solid #DCDDEB

        &__paragraphBoxInfo
            display: none

    .featureToday
        padding: $paddingSectionTablet

        &__buttonBox
            display: flex
            flex-direction: row
            justify-content: center
            align-content: cetenr
            align-items: center
            margin-top: 40px

    .blogLastArticles
        padding: $paddingSectionTablet

        &__blogBoxArticles
            display: flex
            flex-direction: row
            justify-content: space-between
            flex-wrap: wrap

        &__blogBox
            width: 48%
            margin-top: 40px

        &__topBox
            display: flex
            justify-content: space-between
            align-content: center
            align-items: center

        &__headingTwo
            padding-bottom: 0px

        &__button
            margin: 0px