// margin-top/margin-bottom: 20px/95px
    
.navigationMobile
    padding: 20px 0px 80px
    display: flex
    flex-direction: row
    justify-content: space-between
    align-content: center
    align-items: center

.sectionTop

.header
    padding: 0px 15px
    background-image: url("/image/backgroundHeader.png")
    background-position-x: 80%
    background-position-y: 0%
    background-size: cover
    background-repeat: no-repeat

    &__buttonBox
        margin-top: 20px

    &__rightSection
        margin-top: 95px

    &__image
        width: 100%

.logoSection
    width: 100%
    background-color: $white
    padding: 40px 15px
    box-shadow: $boxShadow

    &__dotBetweenImage
        display: none

    &__logoBox
        display: flex
        flex-direction: row
        justify-content: space-between
        align-content: center
        align-items: center
        flex-wrap: wrap

    &__imageLogo
        width: 35%
        margin: 15px 0px

.columnInformationSection
    padding: $paddingSectionMobile

    &__box
        margin: 40px 0px