// margin-top/margin-bottom: 20px/95px
    
.navigationMobile
    padding: 20px 0px 80px
    display: flex
    flex-direction: row
    justify-content: space-between
    align-content: center
    align-items: center

.sectionTop

.header
    padding: 0px 15px
    background-image: url("/image/backgroundHeader.png")
    background-position-x: 80%
    background-position-y: 0%
    background-size: cover
    background-repeat: no-repeat

    &__buttonBox
        margin-top: 20px

    &__rightSection
        margin-top: 95px

    &__image
        width: 100%

.logoSection
    width: 100%
    background-color: $white
    padding: 40px 15px
    box-shadow: $boxShadow

    &__dotBetweenImage
        display: none

    &__logoBox
        display: flex
        flex-direction: row
        justify-content: space-between
        align-content: center
        align-items: center
        flex-wrap: wrap

    &__imageLogo
        width: 35%
        margin: 15px 0px

.columnInformationSection
    padding: $paddingSectionMobile

    &__box
        margin: 40px 0px

        &:last-of-type
            margin-bottom: 0px

.cryptoWalletInformation
    padding: $paddingSectionMobile
    background-color: $black
    width: 100vw
    position: relative
    overflow: hidden

    &__decorationImageLeft
        position: absolute
        top: 0px
        left: 0px
        z-index: 0

    &__decorationImageRight
        position: absolute
        bottom: -300px
        left: 30px

    &__wrapper
        width: 100%

    &__buttonBox
        margin-top: 20px
        position: relative
        z-index: 100

    &__boxInformation
        width: 100%
        background-color: $white
        margin-top: 40px
        border-radius: 35px
        padding: 35px 25px 0px 25px
        position: relative
        z-index: 100

    &__imageWallet
        width: 100%
        border-top-left-radius: 35px
        border-top-right-radius: 35px
        border-left: 1px solid $lightGray
        border-top: 1px solid $lightGray
        border-right: 1px solid $lightGray
        margin-top: 20px

.wideoSection
    padding: $paddingSectionMobile
    width: 100vw
    background-image: url("/image/backgroundWideoSection.png")
    background-size: cover
    background-repeat: no-repeat
    background-position: bottom

    &__headingTwo
        text-align: center

    &__boxBlureImage
        width: 100%
        border-radius: 35px
        position: relative
        border-radius: 35px
        margin: 40px 0px

    &__imageBlure
        width: 100%
        filter: blur(3px)
        border-radius: 35px

    &__iconPlay
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        width: 69px
        height: 69px

    &__walletImage
        position: absolute
        left: -30px
        width: 150px

    &__tradingImage
        position: absolute
        right: -15px
        width: 140px

    &__buttonBox
        margin-top: 40px

.whatPeopleSay
    padding: $paddingSectionMobile
    padding-left: 0px
    padding-right: 0px
    width: 100vw
    background-color: $black
    position: relative

    &__topImageGradient
        display: none

    &__bottomImageGradient
        display: none

    &__headingTwo
        text-align: center
        padding-left: 15px
        padding-right: 15px

    &__paragraph
        text-align: center
        padding-left: 15px
        padding-right: 15px

    &__buttonBox
        padding-left: 15px
        padding-right: 15px
        margin-top: 40px

    &__column
        display: none

        &--mobile
            display: flex
            overflow-x: auto
            -webkit-overflow-scrolling: touch
            -ms-scroll-snap-points-x: repeat(300px)
            scroll-snap-type: mandatory
            padding-left: 15px

    &__paragraphName
        font-family: "Thic Medium"
        font-size: 1.8rem
        line-height: 1.8rem
        margin-top: 5px

    &__paragraphLogin
        font-family: "Thic Medium"
        font-size: 1.8rem
        line-height: 1.8rem
        margin-top: 5px
        color: $blue

    &__twitterBox
        background-color: $white
        border-radius: 35px
        padding: 35px 25px
        margin-top: 40px

        &--mobile
            margin-right: 20px
            min-width: 75vw

            &:last-of-type
                margin-right: 15px

        &--top
            display: flex
            justify-content: space-between
            align-content: center
            align-items: center
            margin-bottom: 20px

        &--topLeft
            display: flex
            justify-content: center
            align-content: center
            align-items: center

        &--avatar
            width: 62px
            height: 62px

        &--twitter
            width: 34px
            height: 34px
            display: none

        &--login
            margin-left: 20px

.easySteps
    padding: $paddingSectionMobile
    width: 100vw
    background-image: url("/image/backgroundEasySteps.png")
    background-size: cover
    background-repeat: no-repeat
    background-position: bottom

    &__headingTwo
        text-align: center

    &__paragraph
        text-align: center

    &__paragraphBox
        font-family: "Thic Medium"
        font-size: 1.8rem
        line-height: 1.8rem
        margin-top: 5px
        margin-bottom: 10px

    &__rightSide
        width: 100%

    &__rightSideBox
        width: 100%

    &__imageWallet
        width: 100%

    &__icon
        margin-right: 20px

    &__leftSideBoxs
        margin-top: 40px

    &__box
        display: flex
        flex-direction: row
        justify-content: flex-start
        align-items: center
        align-content: center
        padding: $paddingButton
        border-radius: 35px
        box-shadow: 0px 2px 6px 0px rgba(20, 20, 43, 0.06)
        border: 1px solid #DCDDEB
        margin-top: 20px
        background-color: $white