*, 
::after, 
::before 
    margin: 0
    padding: 0
    box-sizing: border-box
    scroll-behavior: smooth
    font-size: 62.5%

$black: #111029
$gray: #57596C
$lightGray: #DCDDEB
$white: #FFFFFF
$blue: #1C9BF0
$paddingSectionMobile: 95px 15px
$paddingSectionTablet: 95px 30px
$paddingSectionPC: 200px 30px
$paddingButton: 18px 32px
$borderRadiusButton: 90px
$boxShadow: 0px 14px 64px 0px rgba(17, 16, 41, 0.1)

.whiteColor
    color: $white

@font-face
    src: url("/font/THICCCBOI-Regular.woff2") format("woff2")
    font-family: "Thic Regular"

@font-face
    src: url("/font/THICCCBOI-Medium.woff2") format("woff2")
    font-family: "Thic Medium"

@font-face
    src: url("/font/THICCCBOI-Bold.woff2") format("woff2")
    font-family: "Thic Bold"

@import "./_typography"
@import "./_small"
@import "./_medium"
@import "./_large"